@use 'styles/tokens';
@use 'styles/mixins';
@use 'styles/reset';

body {
  background: var(--surface);
  color: var(--text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}
